body {
    font-family: 'Poppins', sans-serif;
}

.Hahah {
    background-color: slateblue;
    color: white;
}

.a {
    background-color: tomato;
    text-decoration: none;
    padding: 7px 7px;
    color: white;
    border-radius: 12%;
}